<div class="container">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">

      <h1>Edit Wiki</h1>

<%= form_for @wiki do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="field">
  <%= render :partial => 'form', :locals => {:f => f} %>
</div>

  <% if current_user.admin? || current_user.premium? %>
<div class="col-md-8 col-md-offset-2">
  <% @users.each do |user| %>
    <%= check_box_tag "wiki[user_ids][]", user.id,
      @wiki.users.include?(user), id: dom_id(user) %>
    <%= label_tag dom_id(user), user.email %>
  <% end %>
</div>
<% end %>

<div class="col-md-8 col-md-offset-2">
  <%= f.submit "Save" %>
<% end %>
</div>

</div>
</div>
</div>
