<h1>Edit Wiki</h1>
  <div class="row">
    <div class="col-md-4">

<%= form_for @wiki do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="field">
  <%= render :partial => 'form', :locals => {:f => f} %>
</div>

<p class="text-center">Collaborators</p>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <% @users.each do |user| %>
        		<ul class="list-group checked-list-box">
                  <li class="list-group-item"><input type="checkbox" value=""><%= user.email %> </li>
                </ul>
              <% end %>
            </div>
        </div>

<!-- <%= render :partial => 'collaborators', :locals => {:wiki => @wiki} %> -->

<div class="form-group">
  <%= f.submit "Save" %>
<% end %>

</div>
</div>
