<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="text-center col-md-4 col-md-offset-4">

<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field" "account-wall">
  <%= f.email_field :email, :placeholder => 'Email address' %><br /><br>
  <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
</div>

<% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
<% end %>

<div class="actions">
  <%= f.submit "Log in" %>
</div>

<% end %>

Not a member? <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
